<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}Task manager{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row pb-5">
          <div class="col">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
              <a class="navbar-brand nav-link" href="{% url 'tasks' %}" >Task manager</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                      <li><a class="nav-link {% if request.resolver_match.url_name == 'tags' %}active{% endif %}" href="{% url 'tags' %}">List of tags</a></li>
                    {% endif %}
                </ul>
                    {% if user.is_authenticated %}
                <ul class="navbar-nav navbar-right">
                      <li class="nav-item navbar-right">
                  <li><a class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}" href="{% url 'logout' %}">Log out</a></li>
                </ul>
                    {% endif %}
              </div>
            </nav>
          </div>
        </div>
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
</html>
