{% extends "base.html" %}

{% block title %}Delete the status{% endblock %}

{% block content %}
<form method="post" class="form-inline justify-content-center">
    {% csrf_token %}
    <div class="row pt-5">
        <div class="col-12 col-md-8">
            Are you sure you want to delete the status: {{ object }}?
        </div>
        <div class="col-6 col-md-2">
          <button  class="btn btn-dark" type='submit'>Delete</button>
        </div>
        <div class="col-6 col-md-2">
          <a class="btn btn-dark" href="{% url 'statuses' %}">No!</a>
        </div>
    </div>
</form>

{% endblock %}
