{% extends "base.html" %}

{% block title %}Tags{% endblock %}

{% block content %}
    <div class="row pt-5">
        {% for status in statuses %}
        <div class="col-3">
            {{ status.name }}
        </div>
        <div class="col-1">
            <form  action="{% url 'update_tag' status.id %}" method="get" >
                {% csrf_token %}
                <button  type="submit" class="btn btn-outline-dark btn-sm">Update</button>
            </form>
        </div>
        <div class="col-1">
                <a  href="{% url 'delete_status' status.id %}" class="btn btn-outline-dark btn-sm">Delete</a>
        </div>
        <div class="col-1">
        </div>
        {% endfor %}
    </div>
{% endblock %}
