{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row text-center pt-5">
    <h5 class="col">
        Hello, {{ user.username }}! Let's work!
    </h5>
</div>
<form method="get">
    <div class="row pt-5">
        <div class="col-3">
            <div class="form-group">
                <label for="creator">Creator</label>
                <select class="form-control" name="creator" id="creator">
                  {% for creator in filter.form.creator %}
                      {{ creator }}
                  {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="assigned_to">Assigned to</label>
                <select class="form-control" name="assigned_to" id="assigned_to">
                  {% for assigned_to in filter.form.assigned_to %}
                      {{ assigned_to }}
                  {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="status">
                    {% for status in filter.form.status %}
                        {{ status }}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="tags">Tags</label>
                <select class="form-control" name="tags" id="tags">
                    {% for tag in filter.form.tags %}
                        {{ tag }}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button  class="btn btn-dark" type='submit'>Show</button>
            <a href="{% url 'tasks' %}" class="btn btn-dark">Reset</a>
            <a href="{% url 'tasks' %}?assigned_to={{request.user.pk}}" class="btn btn-dark">What shall I do?</a>
        </div>
    </div>
</form>
<div class="row justify-content-center pt-5">
    {% for obj in filter.qs %}
    <div class="col-6 pb-3">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ obj.name }}</h5>
            <p class="card-text">
                {{ obj.description }}
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ obj.creator }} to {{ obj.assigned_to }}</li>
            <li class="list-group-item">Status: {{ obj.status }}</li>
            <li class="list-group-item">Tags: {% for tag in obj.tags.all %} {{ tag }} {% endfor %}</li>
        </ul>
        <div class="card-body">
           <a href="{% url 'update_task' obj.id %}" class="btn btn-dark btn-sm">Update</a>
           <a href="{% url 'delete_task' obj.id %}" class="btn btn-dark btn-sm">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="row text-center pt-5">
    <div class="col">
        <p>Who are you?</p>
        <a href="{% url 'login' %}">Log in</a> |
        <a href="{% url 'signup' %}">Sign up</a>
    </div>
</div>
{% endif %}
{% endblock %}
