{% extends "base.html" %}

{% block title %}Update task{% endblock %}

{% block content %}
<form method="post">
{% csrf_token %}
    {% if form.errors %} {{ form.errors }} {% endif %}
    <div class="row pt-5">
        <div class="col">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{ form.name.value }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" rows="7">{{ form.description.value }}</textarea>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="tags">Tags</label>
                <select multiple class="form-control" name="tags" id="tags">
                  {% for tag in form.tags %}
                      {{ tag }}
                  {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="creator">Creator</label>
                <select class="form-control" name="creator" id="creator">
                  {% for creator in form.creator %}
                      {{ creator }}
                  {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="assigned_to">Assigned to</label>
                <select class="form-control" name="assigned_to" id="assigned_to">
                  {% for assigned_to in form.assigned_to %}
                      {{ assigned_to }}
                  {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="status">
                    {% for status in form.status %}
                        {{ status }}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button  class="btn btn-dark" type='submit'>Save</button>
            <a href="{% url 'tasks' %}" class="btn btn-dark">Back</a>
        </div>
    </div>
</form>
{% endblock %}